
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import '~bootstrap/dist/css//bootstrap.css';
@import "~toastr/build/toastr.css";
@import "../css/login-register.css";
@import "../css/settings.css";
@import '~font-awesome/css/font-awesome.css';
@import '~ionicons/css/ionicons.min.css';
@import '~slick-carousel/slick//slick.css';
@import '~slick-carousel/slick//slick-theme.css';
@import '~jquery-bar-rating/dist/themes//bars-pill.css';
@import '~jquery-bar-rating/dist/themes//fontawesome-stars.css';
@import '~jquery-bar-rating/dist/themes//fontawesome-stars-o.css';
@import '~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css';
@import "../../assets/packages/selectize/selectize.css";
@import '~fotorama/fotorama.css';
@import '~lightgallery/dist/css/lightgallery.css';
@import '~lightgallery/dist/css/lightgallery.min.css';
@import "../../assets/packages/cubeportfolio/cubeportfolio.css";