/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

*, body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a, a:hover {
    text-decoration: none;
}
*, html, body {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: -0.5px;
}
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff2") format("woff2"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}
.flaticon-shop:before {
    content: "\f100";
}
.flaticon-cutlery:before {
    content: "\f101";
}
.flaticon-shopping-cart:before {
    content: "\f102";
}
.flaticon-settings:before {
    content: "\f103";
}
.flaticon-wallet:before {
    content: "\f104";
}
.flaticon-responsive:before {
    content: "\f105";
}
.flaticon-smartphone:before {
    content: "\f106";
}
.flaticon-left-arrow:before {
    content: "\f107";
}
.flaticon-right-arrow:before {
    content: "\f108";
}
.flaticon-user:before {
    content: "\f109";
}
.flaticon-floppy-disk:before {
    content: "\f10a";
}
.flaticon-trash:before {
    content: "\f10b";
}
.flaticon-edit:before {
    content: "\f10c";
}
.flaticon-down-arrow-1:before {
    content: "\f10d";
}
.flaticon-down-arrow:before {
    content: "\f10e";
}
.flaticon-logout:before {
    content: "\f10f";
}
.flaticon-login:before {
    content: "\f110";
}
.flaticon-megaphone:before { 
    content: "\f111"; 
}
.flaticon-burger:before { content: "\f112"; }
.flaticon-drink:before { content: "\f113"; }
.flaticon-restaurant-menu:before { content: "\f114"; }
.flaticon-invoice:before { content: "\f115"; }
.flaticon-card:before { content: "\f116"; }
.flaticon-discount:before { content: "\f117"; }
.flaticon-wall-clock:before { content: "\f118"; }
.flaticon-clock:before { content: "\f119"; }
.flaticon-wall-clock-1:before { content: "\f11a"; }
.flaticon-cancel:before { content: "\f11b"; }
.flaticon-design:before { content: "\f11c"; }
.flaticon-price-cut:before { content: "\f11d"; }
.flaticon-more:before { content: "\f11e"; }
.flaticon-ellipsis:before { content: "\f11f"; }
.flaticon-notification:before { content: "\f120"; }
.flaticon-app:before { content: "\f121"; }
.m-0 {
    margin: 0 !important;
}
.mt-0 {
    margin-top: 0px !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-25 {
    margin-top: 25px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-35 {
    margin-top: 35px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.mt-45 {
    margin-top: 45px !important;
}
.mt-50 {
    margin-top: 50px !important;
}
.mt-55 {
    margin-top: 55px !important;
}
.mt-60 {
    margin-top: 60px !important;
}
.mt-65 {
    margin-top: 65px !important;
}
.mt-70 {
    margin-top: 70px !important;
}
.mt-75 {
    margin-top: 75px !important;
}
.mt-80 {
    margin-top: 80px !important;
}
.mt-85 {
    margin-top: 85px !important;
}
.mt-90 {
    margin-top: 90px !important;
}
.mt-95 {
    margin-top: 95px !important;
}
.mt-100 {
    margin-top: 100px !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-25 {
    margin-bottom: 25px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-35 {
    margin-bottom: 35px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-45 {
    margin-bottom: 45px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.mb-55 {
    margin-bottom: 55px !important;
}
.mb-60 {
    margin-bottom: 60px !important;
}
.mb-65 {
    margin-bottom: 65px !important;
}
.mb-70 {
    margin-bottom: 70px !important;
}
.mb-75 {
    margin-bottom: 75px !important;
}
.mb-80 {
    margin-bottom: 80px !important;
}
.mb-85 {
    margin-bottom: 85px !important;
}
.mb-90 {
    margin-bottom: 90px !important;
}
.mb-95 {
    margin-bottom: 95px !important;
}
.mb-100 {
    margin-bottom: 100px !important;
}
.ml-0 {
    margin-left: 0px !important;
}
.ml-5 {
    margin-left: 5px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.ml-15 {
    margin-left: 15px !important;
}
.ml-20 {
    margin-left: 20px !important;
}
.ml-25 {
    margin-left: 25px !important;
}
.ml-30 {
    margin-left: 30px !important;
}
.ml-35 {
    margin-left: 35px !important;
}
.ml-40 {
    margin-left: 40px !important;
}
.ml-45 {
    margin-left: 45px !important;
}
.ml-50 {
    margin-left: 50px !important;
}
.ml-55 {
    margin-left: 55px !important;
}
.ml-60 {
    margin-left: 60px !important;
}
.ml-65 {
    margin-left: 65px !important;
}
.ml-70 {
    margin-left: 70px !important;
}
.ml-75 {
    margin-left: 75px !important;
}
.ml-80 {
    margin-left: 80px !important;
}
.ml-85 {
    margin-left: 85px !important;
}
.ml-90 {
    margin-left: 90px !important;
}
.ml-95 {
    margin-left: 95px !important;
}
.ml-100 {
    margin-left: 100px !important;
}
.mr-0 {
    margin-right: 0px !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.mr-15 {
    margin-right: 15px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.mr-25 {
    margin-right: 25px !important;
}
.mr-30 {
    margin-right: 30px !important;
}
.mr-35 {
    margin-right: 35px !important;
}
.mr-40 {
    margin-right: 40px !important;
}
.mr-45 {
    margin-right: 45px !important;
}
.mr-50 {
    margin-right: 50px !important;
}
.mr-55 {
    margin-right: 55px !important;
}
.mr-60 {
    margin-right: 60px !important;
}
.mr-65 {
    margin-right: 65px !important;
}
.mr-70 {
    margin-right: 70px !important;
}
.mr-75 {
    margin-right: 75px !important;
}
.mr-80 {
    margin-right: 80px !important;
}
.mr-85 {
    margin-right: 85px !important;
}
.mr-90 {
    margin-right: 90px !important;
}
.mr-95 {
    margin-right: 95px !important;
}
.mr-100 {
    margin-right: 100px !important;
}
.p-0 {
    padding: 0 !important;
}
.pt-0 {
    padding-top: 0px !important;
}
.pt-5 {
    padding-top: 5px !important;
}
.pt-10 {
    padding-top: 10px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-25 {
    padding-top: 25px !important;
}
.pt-30 {
    padding-top: 30px !important;
}
.pt-35 {
    padding-top: 35px !important;
}
.pt-40 {
    padding-top: 40px !important;
}
.pt-45 {
    padding-top: 45px !important;
}
.pt-50 {
    padding-top: 50px !important;
}
.pt-55 {
    padding-top: 55px !important;
}
.pt-60 {
    padding-top: 60px !important;
}
.pt-65 {
    padding-top: 65px !important;
}
.pt-70 {
    padding-top: 70px !important;
}
.pt-75 {
    padding-top: 75px !important;
}
.pt-80 {
    padding-top: 80px !important;
}
.pt-85 {
    padding-top: 85px !important;
}
.pt-90 {
    padding-top: 90px !important;
}
.pt-95 {
    padding-top: 95px !important;
}
.pt-100 {
    padding-top: 100px !important;
}
.pb-0 {
    padding-bottom: 0px !important;
}
.pb-5 {
    padding-bottom: 5px !important;
}
.pb-10 {
    padding-bottom: 10px !important;
}
.pb-15 {
    padding-bottom: 15px !important;
}
.pb-20 {
    padding-bottom: 20px !important;
}
.pb-25 {
    padding-bottom: 25px !important;
}
.pb-30 {
    padding-bottom: 30px !important;
}
.pb-35 {
    padding-bottom: 35px !important;
}
.pb-40 {
    padding-bottom: 40px !important;
}
.pb-45 {
    padding-bottom: 45px !important;
}
.pb-50 {
    padding-bottom: 50px !important;
}
.pb-55 {
    padding-bottom: 55px !important;
}
.pb-60 {
    padding-bottom: 60px !important;
}
.pb-65 {
    padding-bottom: 65px !important;
}
.pb-70 {
    padding-bottom: 70px !important;
}
.pb-75 {
    padding-bottom: 75px !important;
}
.pb-80 {
    padding-bottom: 80px !important;
}
.pb-85 {
    padding-bottom: 85px !important;
}
.pb-90 {
    padding-bottom: 90px !important;
}
.pb-95 {
    padding-bottom: 95px !important;
}
.pb-100 {
    padding-bottom: 100px !important;
}
.pl-0 {
    padding-left: 0px !important;
}
.pl-5 {
    padding-left: 5px !important;
}
.pl-10 {
    padding-left: 10px !important;
}
.pl-15 {
    padding-left: 15px !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.pl-25 {
    padding-left: 25px !important;
}
.pl-30 {
    padding-left: 30px !important;
}
.pl-35 {
    padding-left: 35px !important;
}
.pl-40 {
    padding-left: 40px !important;
}
.pl-45 {
    padding-left: 45px !important;
}
.pl-50 {
    padding-left: 50px !important;
}
.pl-55 {
    padding-left: 55px !important;
}
.pl-60 {
    padding-left: 60px !important;
}
.pl-65 {
    padding-left: 65px !important;
}
.pl-70 {
    padding-left: 70px !important;
}
.pl-75 {
    padding-left: 75px !important;
}
.pl-80 {
    padding-left: 80px !important;
}
.pl-85 {
    padding-left: 85px !important;
}
.pl-90 {
    padding-left: 90px !important;
}
.pl-95 {
    padding-left: 95px !important;
}
.pl-100 {
    padding-left: 100px !important;
}
.pr-0 {
    padding-right: 0px !important;
}
.pr-5 {
    padding-right: 5px !important;
}
.pr-10 {
    padding-right: 10px !important;
}
.pr-15 {
    padding-right: 15px !important;
}
.pr-20 {
    padding-right: 20px !important;
}
.pr-25 {
    padding-right: 25px !important;
}
.pr-30 {
    padding-right: 30px !important;
}
.pr-35 {
    padding-right: 35px !important;
}
.pr-40 {
    padding-right: 40px !important;
}
.pr-45 {
    padding-right: 45px !important;
}
.pr-50 {
    padding-right: 50px !important;
}
.pr-55 {
    padding-right: 55px !important;
}
.pr-60 {
    padding-right: 60px !important;
}
.pr-65 {
    padding-right: 65px !important;
}
.pr-70 {
    padding-right: 70px !important;
}
.pr-75 {
    padding-right: 75px !important;
}
.pr-80 {
    padding-right: 80px !important;
}
.pr-85 {
    padding-right: 85px !important;
}
.pr-90 {
    padding-right: 90px !important;
}
.pr-95 {
    padding-right: 95px !important;
}
.pr-100 {
    padding-right: 100px !important;
}
.f-10 {
    font-size: 10px !important;
}
.f-20 {
    font-size: 20px !important;
}
.f-22 {
    font-size: 22px !important;
}
.f-24 {
    font-size: 24px !important;
}
.f-26 {
    font-size: 26px !important;
}
.f-28 {
    font-size: 28px !important;
}
.f-30 {
    font-size: 30px !important;
}
.f-40 {
    font-size: 40px !important;
}
.f-50 {
    font-size: 50px !important;
}
.f-60 {
    font-size: 60px !important;
}
.f-70 {
    font-size: 70px !important;
}
.f-80 {
    font-size: 80px !important;
}
.f-90 {
    font-size: 90px !important;
}
.f-100 {
    font-size: 100px !important;
}

.btn {
    font-weight: 400;
    font-size: 14px;
    border-radius: 6px;
    padding: 5px 15px;
}
select.form-control {
    -webkit-appearance: none;
    padding-right: 30px !important;
    background-image: url(../img/down-arrow.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 11px;
    background-size: 11px;
    background-position: center right 10px;
}
.app-wrap {
    padding-top: 80px;
}
.app-wrap .app-header {
    background-color: #fff;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
}
.app-wrap .app-header .eatery-logo img {
    height: 50px;
}
.app-wrap .app-header .zing-logo img {
    height: 50px;
}
.app-wrap .app-content-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.app-wrap .app-content-wrap .app-side-nav {
    width: 140px;
    position: fixed;
    top: 80px;
    left: 0;
    padding: 20px;
    padding-right: 30px;
    overflow-x: auto;
    height: calc(100vh - 80px);
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-right: 1px solid rgba(0,0,0,0.05);
}
.app-wrap .app-content-wrap .app-side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.app-wrap .app-content-wrap .app-side-nav ul li {
    position: relative;
}
.app-wrap .app-content-wrap .app-side-nav .nav-item {
    border-radius: 8px;
    text-align: center;
    height: 90px;
    width: 90px;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-decoration: none;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    color: #3e5569;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.app-wrap .app-content-wrap .app-side-nav .nav-item .icon {
    line-height: 1;
    font-size: 30px;
}
.app-wrap .app-content-wrap .app-side-nav .nav-item span {
    display: block;
    font-weight: 400;
    font-size: 12px;
}

.app-wrap .app-content-wrap .app-side-nav .nav-item:hover {
    background-color: rgba(242, 244, 248, 0.4);
}
.app-wrap .app-content-wrap .app-side-nav .nav-item.active {
    background-color: #5a6268;
    color: #fff;
}
.app-wrap .app-content-wrap .app-side-nav ul li + li {
    margin-top: 1px;
}
.app-wrap .app-content-wrap .app-side-nav ul li + li::before {
    background-color: rgba(0,0,0,0.05);
    height: 1px;
    width: 90%;
    left: 5px;
    position: absolute;
    content: '';
    top: -1px;
}
.app-wrap .app-content-wrap .app-content-inner {
    min-height: calc(100vh - 80px);
    background-color: #F1F5F8;
    flex: 1 1 0%;
    padding: 20px;
    margin-left: 140px;
    padding-top: 0;
}
.app-wrap .app-content-wrap .app-content-inner .app-sec-title.app-sec-title-with-icon .app-sec-title-icon {
    margin-right: 10px;
    color: #333;
    font-size: 36px;
    line-height: 1;
}
.app-wrap .app-content-wrap .app-content-inner .app-sec-title h1 {
    margin: 0;
    color: #333;
    font-size: 20px;
    font-weight: 600;
}
.app-wrap .app-content-wrap .app-content-inner .app-sec-title.app-sec-title-with-icon {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.app-wrap .app-content-wrap .app-entry-form-wrap .app-sec-title {
    position: sticky;
    top: 80px;
    padding: 15px 0px;
    padding-right: 200px;
    background-color: #f2f4f8;
    z-index: 2;
}
.app-wrap .app-content-wrap .app-content-inner .app-sec-title.app-sec-title-with-action .actions {
    position: absolute;
    right: 0;
    top: 18px;
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .btn-with-icon {
    position: relative;
    padding-left: 35px;
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .btn-with-icon i {
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 16px;
    line-height: 1;
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section {
    padding: 20px;
    border-radius: 6px;
    background-color: #fff;
    padding-bottom: 10px;
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section .entry-form-title {
    padding-bottom: 5px;
    position: relative;
    cursor: pointer;
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section .entry-form-title h2 {
    font-size: 22px;
    font-weight: 700;
    color: #334152;
    margin: 0;
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section .entry-form-title p {
    margin: 0;
    color: #999;
    font-size: 14px;
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section .entry-form-title .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #dde2ec;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #334152;
    position: absolute;
    right: 0;
    top: 8px;
    cursor: pointer;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section .entry-form-title.collapsed .icon {
    transform: rotate(180deg);
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section label {
    display: block;
    margin-bottom: 4px;
    line-height: 1.2;
    color: #3E4B5B;
    font-weight: 400;
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section label sup {
    color: #e65252;
    font-size: 20px;
    top: 0;
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section .form-control {
    display: block;
    width: 100%;
    height: calc(calc(1.5em + .75rem) + 4px);
    padding: .375rem .75rem;
    padding-top: 0.4rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 15px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
    border: 2px solid #dde2ec;
    border-radius: 4px;
    -webkit-transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #1d2124;
    outline: 0;
    box-shadow: none;
}
.app-wrap .app-content-wrap .app-content-inner .app-sec-title .back-nav {
    display: none;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    border-color: #dde2ec;
    border-width: 2px
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e2ebff;
    border: 1px solid #4771d2;
    font-size: 14px;
    line-height: 1;
    padding: 3px 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #474a50;
    margin-right: 4px
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #1d2124;
    color: #fff
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-width: 2px;
    border-color: #1d2124
}
.select2-dropdown {
    border-width: 2px;
    border-color: #1d2124
}
.select2-results__option {
    font-weight: 400;
    font-size: 14px;
}
.select2 {
    font-weight: 400
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section + .app-entry-form-section {
    margin-top: 15px;
}
.app-wrap .app-content-wrap .app-content-inner .link-widget {
    box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
    border-radius: 6px;
    background-color: #fff;
    display: block;
    text-align: center;
    padding: 30px;
    transition: all 0.3s ease;
    text-decoration: none;
    min-height: 210px;
}
.app-wrap .app-content-wrap .app-content-inner .link-widget i {
    font-size: 60px;
    display: block;
    margin-bottom: 10px;
    line-height: 1;
    color: #212529;
}
.app-wrap .app-content-wrap .app-content-inner .link-widget h4 {
    font-size: 18px;
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 10px;
    color: #334152;
}
.app-wrap .app-content-wrap .app-content-inner .link-widget p {
    color: #999;
    margin: 0;
    font-weight: 300;
    font-size: .9rem;
}
.app-wrap .app-content-wrap .app-content-inner .link-widget:hover {
    box-shadow: 0px 5px 12px rgba(126,142,177,0.2), 0px 0px 0px 2px #212529;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    cursor: pointer;
}
.app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .dropdown-toggle::after {
    display: none;
}
.app-wrap .dropdown-menu {
    box-shadow: 0px 3px 20px #0000000b;
    background-color: #fff;
    border-radius: 0.375rem;
    border: none;
}
.app-wrap .dropdown-menu .dropdown-item {
    padding: 8px 20px;
    color: #334152;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    -ms-align-items: center;
    align-items: center;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap {

}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card {
    border: 0;
    border-radius: 4px;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header {
    background-color: #fff;
    cursor: pointer;
    position: relative;
    padding: 12px 20px;
    border: none;
    margin: 0;
    border-radius: 4px;
    padding-left: 40px;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header h4 {
    margin: 0;
    text-transform: capitalize;
    font-size: 20px;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .actions {
    position: absolute;
    right: 15px;
    top: 8px;
    display: flex;
    align-items: center;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .actions .btn {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    color: #334152;
    box-shadow: none;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .actions .btn:hover {
    border-color: #1d2124;
    color: #1d2124;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .actions .btn + .btn {
    margin-left: 10px;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .handle {
    position: absolute;
    width: 40px;
    height: 44px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #333;
    justify-content: center;
    cursor: grab;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body {
    padding: 12px 20px;
    padding-top: 0;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap {
    border-top: 1px solid rgba(0,0,0,0.05);
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item .menu-item-block {
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: relative;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item {
    position: relative;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item .actions {
    position: absolute;
    right: 0;
    top: 15px;
    display: flex;
    align-items: center;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item .actions .btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 50%;
    color: #334152;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item .actions .btn:hover {
    color: #1d2124;
    border-color: #1d2124;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item .actions .btn + .btn {
    margin-left: 10px;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item .menu-img {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    border: 1px solid #ddd;

    box-shadow: 0px 0px 0px 2px #fff, 1px 1px 5px rgba(0,0,0,0.8);
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item h4 {
    text-transform: capitalize;
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
    color: #212529;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card + .card {
    margin-top: 5px;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item + .menu-item {
    border-top: 1px dashed #eaeaea;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card.chosen-placeholder {
    border: 1px dashed #3E4B5B;
    opacity: 0.5;
}
.entry-modal label {
    display: block;
    margin-bottom: 4px;
    line-height: 1.2;
    color: #3E4B5B;
    font-weight: 400;
}
.entry-modal label sup {
    color: #e65252;
    font-size: 20px;
    top: 0;
}
.entry-modal .form-control {
    display: block;
    width: 100%;
    height: calc(calc(1.5em + .75rem) + 4px);
    padding: .375rem .75rem;
    padding-top: 0.4rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 15px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
    border: 2px solid #dde2ec;
    border-radius: 4px;
    -webkit-transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.entry-modal .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #1d2124;
    outline: 0;
    box-shadow: none;
}
.entry-modal .modal-header .close {
    box-shadow: none;
}
.entry-modal .modal-sec-title {
    position: relative;
    margin-bottom: 15px;
    margin-top: 30px;
}
.entry-modal .modal-sec-title h4 {
    display: inline-block;
    margin: 0;
    font-size: 18px;
    background-color: #fff;
    padding-right: 10px;
    position: relative;
    z-index: 2;
    font-weight: 700;
    color: #3E4B5B;
}
.entry-modal .modal-sec-title::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    height: 1px;
    top: 50%;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
}
.entry-modal .modal-sec-title.modal-sec-title-with-action .actions {
    position: absolute;
    right: 0;
    top: -5px;
    z-index: 2;
    background-color: #fff;
    padding-left: 10px;
}
.entry-modal .modal-sec-title.modal-sec-title-with-action .actions .btn {
    position: relative;
    padding-left: 35px;
}
.entry-modal .modal-sec-title.modal-sec-title-with-action .actions .btn i {
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 16px;
    line-height: 1;
}
.gutter-20 {
    margin-left: -10px;
    margin-right: -10px;
}
.gutter-20 [class*=col-] {
    padding-left: 10px;
    padding-right: 10px;
}
.input-group {
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%
}
.input-group>.form-control, .input-group>.form-control-plaintext, .input-group>.custom-select, .input-group>.custom-file {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0
}
.input-group>.form-control+.form-control, .input-group>.form-control+.custom-select, .input-group>.form-control+.custom-file, .input-group>.form-control-plaintext+.form-control, .input-group>.form-control-plaintext+.custom-select, .input-group>.form-control-plaintext+.custom-file, .input-group>.custom-select+.form-control, .input-group>.custom-select+.custom-select, .input-group>.custom-select+.custom-file, .input-group>.custom-file+.form-control, .input-group>.custom-file+.custom-select, .input-group>.custom-file+.custom-file {
    margin-left: -2px
}
.input-group>.form-control:focus, .input-group>.custom-select:focus, .input-group>.custom-file .custom-file-input:focus~.custom-file-label {
    z-index: 3
}
.input-group>.custom-file .custom-file-input:focus {
    z-index: 4
}
.input-group>.form-control:not(:last-child), .input-group>.custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.input-group>.form-control:not(:first-child), .input-group>.custom-select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
.input-group>.custom-file {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}
.input-group>.custom-file:not(:last-child) .custom-file-label, .input-group>.custom-file:not(:last-child) .custom-file-label::after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.input-group>.custom-file:not(:first-child) .custom-file-label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
.input-group-prepend, .input-group-append {
    display: -webkit-box;
    display: flex
}
.input-group-prepend .btn, .input-group-prepend .all-wrapper .fc-button, .all-wrapper .input-group-prepend .fc-button, .input-group-append .btn, .input-group-append .all-wrapper .fc-button, .all-wrapper .input-group-append .fc-button {
    position: relative;
    z-index: 2
}
.input-group-prepend .btn:focus, .input-group-prepend .all-wrapper .fc-button:focus, .all-wrapper .input-group-prepend .fc-button:focus, .input-group-append .btn:focus, .input-group-append .all-wrapper .fc-button:focus, .all-wrapper .input-group-append .fc-button:focus {
    z-index: 3
}
.input-group-prepend .btn+.btn, .input-group-prepend .all-wrapper .fc-button+.btn, .all-wrapper .input-group-prepend .fc-button+.btn, .input-group-prepend .all-wrapper .btn+.fc-button, .all-wrapper .input-group-prepend .btn+.fc-button, .input-group-prepend .all-wrapper .fc-button+.fc-button, .all-wrapper .input-group-prepend .fc-button+.fc-button, .input-group-prepend .btn+.input-group-text, .input-group-prepend .all-wrapper .fc-button+.input-group-text, .all-wrapper .input-group-prepend .fc-button+.input-group-text, .input-group-prepend .input-group-text+.input-group-text, .input-group-prepend .input-group-text+.btn, .input-group-prepend .all-wrapper .input-group-text+.fc-button, .all-wrapper .input-group-prepend .input-group-text+.fc-button, .input-group-append .btn+.btn, .input-group-append .all-wrapper .fc-button+.btn, .all-wrapper .input-group-append .fc-button+.btn, .input-group-append .all-wrapper .btn+.fc-button, .all-wrapper .input-group-append .btn+.fc-button, .input-group-append .all-wrapper .fc-button+.fc-button, .all-wrapper .input-group-append .fc-button+.fc-button, .input-group-append .btn+.input-group-text, .input-group-append .all-wrapper .fc-button+.input-group-text, .all-wrapper .input-group-append .fc-button+.input-group-text, .input-group-append .input-group-text+.input-group-text, .input-group-append .input-group-text+.btn, .input-group-append .all-wrapper .input-group-text+.fc-button, .all-wrapper .input-group-append .input-group-text+.fc-button {
    margin-left: -2px
}
.input-group-prepend {
    margin-right: -2px
}
.input-group-append {
    margin-left: -2px
}
.input-group-text {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 2px solid #dde2ec;
    border-radius: 4px
}
.input-group-text input[type="radio"], .input-group-text input[type="checkbox"] {
    margin-top: 0
}
.input-group-lg>.form-control:not(textarea), .input-group-lg>.custom-select {
    height: calc(2.875rem + 4px)
}
.input-group-lg>.form-control, .input-group-lg>.custom-select, .input-group-lg>.input-group-prepend>.input-group-text, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .all-wrapper .input-group-lg>.input-group-prepend>.fc-button, .input-group-lg>.input-group-append>.btn, .all-wrapper .input-group-lg>.input-group-append>.fc-button {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 6px
}
.input-group-sm>.form-control:not(textarea), .input-group-sm>.custom-select {
    height: calc(1.7rem + 4px)
}
.input-group-sm>.form-control, .input-group-sm>.custom-select, .input-group-sm>.input-group-prepend>.input-group-text, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .all-wrapper .input-group-sm>.input-group-prepend>.fc-button, .input-group-sm>.input-group-append>.btn, .all-wrapper .input-group-sm>.input-group-append>.fc-button {
    padding: .25rem .5rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: 4px
}
.input-group-lg>.custom-select, .input-group-sm>.custom-select {
    padding-right: 1.75rem
}
.input-group>.input-group-prepend>.btn, .all-wrapper .input-group>.input-group-prepend>.fc-button, .input-group>.input-group-prepend>.input-group-text, .input-group>.input-group-append:not(:last-child)>.btn, .all-wrapper .input-group>.input-group-append:not(:last-child)>.fc-button, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .all-wrapper .input-group>.input-group-append:last-child>.fc-button:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.input-group>.input-group-append>.btn, .all-wrapper .input-group>.input-group-append>.fc-button, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:not(:first-child)>.btn, .all-wrapper .input-group>.input-group-prepend:not(:first-child)>.fc-button, .input-group>.input-group-prepend:not(:first-child)>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .all-wrapper .input-group>.input-group-prepend:first-child>.fc-button:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
.custom-switch-lg .custom-control-label {
    margin: 0;
}
.custom-switch-lg .custom-control-label::before {
    height: 30px;
    width: 55px;
    border-radius: 50px;
    left: -65px;
    top: -6px;
}
.custom-switch-lg .custom-control-label::after {
    top: calc(.25rem + 4px);
    left: calc(-65px + 4px);
    width: calc(30px - 8px);
    height: calc(30px - 8px);
    border-radius: 50px;
    top: -2px;
}
.custom-switch {
    cursor: pointer;
    box-shadow: none;
}
.custom-switch .custom-control-input {
    box-shadow: none;
}
.custom-switch-lg .custom-control-input:checked~.custom-control-label::after {
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
}
.custom-control-label::before {
    border-width: 2px;
    border-color: #dde2ec;
}
.custom-switch .custom-control-label::after {
    background-color: #dde2ec;
}
.entry-modal .schedule-form .schedule-form-item + .schedule-form-item {
    margin-top: 20px;
}
.entry-modal .schedule-form .schedule-form-item .form-group {
    margin-bottom: 10px;
}
.dropzone {
    min-height: 150px;
    background: white;
    padding: 15px;
    border: 2px solid #dde2ec;
    border-radius: 4px;
}
.dropzone .upload-wraper {
    min-height: 130px;
}
.dropzone .upload-wraper .dropzone {
    padding: 0;
    display: inline-block;
    float: left;
    min-height: auto;
    border: none;
    position: relative;
    z-index: 6;
    margin: 0px;
    width: 100px;
    height: 100px;
    background-color: #5a6268;
}

.dropzone .upload-wraper .dropzone .dz-message {
    text-align: center;
    color: #fff;
    margin: 17px 5px;
    cursor: pointer;
    font-size: 13px;
}
.dropzone .image-editor {
    position: relative;
}
.dropzone .upload-wraper .image-editor .img-box {
    margin: 0px 10px;
    width: 100px;
    display: inline-block;
}
.dropzone .upload-wraper .image-editor .img-box .img-container {
    position: relative;
}
.dropzone .upload-wraper .image-editor .img-box .img-container a img {
    width: 100px;
    border-radius: 3px;
    border: 2px solid #dde2ec;
}
.dropzone .upload-wraper .image-editor .img-box .img-container .btn-container {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 999;
    display: flex;
    align-items: center;
}
.dropzone .upload-wraper .image-editor .img-box .img-container .btn-container a {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ddd;
    color: #334152;
    text-align: center;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: #fff;
    text-decoration: none;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.dropzone .upload-wraper .image-editor .img-box .img-container .btn-container a + a {
    margin-left: 5px;
}
.dropzone .upload-wraper .image-editor .img-box .img-container .btn-container a i {
    font-size: 13px;
}
.dropzone .upload-wraper .image-editor .img-box:hover .img-container .btn-container a {
    opacity: 1;
    animation: scaleIn 0.2s;
}
.menu-modal-addon-varient-wrap {
    position: relative;
    padding: 15px;
    height: 100%;
}
.menu-modal-addon-varient-wrap::before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    background-color: #dee2e6;
}
.menu-modal-addon-varient-wrap .addon-items-wrap .addon-item {
    position: relative;
    padding: 15px 0;
}
.menu-modal-addon-varient-wrap .addon-items-wrap .addon-item h4 {
    margin: 0;
    font-size: 18px;
    text-transform: capitalize;
}
.menu-modal-addon-varient-wrap .addon-items-wrap .addon-item .actions {
    display: flex;
    position: absolute;
    right: 0;
    top: 11px;
    align-items: center;
}
.menu-modal-addon-varient-wrap .addon-items-wrap .addon-item .actions .btn {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    color: #334152;
    box-shadow: none;
}
.menu-modal-addon-varient-wrap .addon-items-wrap .addon-item .actions .btn:hover {
    border-color: #23272b;
    color: #23272b;
}
.menu-modal-addon-varient-wrap .addon-items-wrap .addon-item .actions .btn + .btn {
    margin-left: 10px;
}
.menu-modal-addon-varient-wrap .addon-items-wrap .addon-item + .addon-item {
    border-top: 1px dashed #dee2e6;
}
.entry-modal .modal-title {
    font-weight: 700;
    color: #334152;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .action-res {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    line-height: 53px;
    position: absolute;
    right: 5px;
    top: 7px;
    color: #334152;
    background-color: #fff;
    padding: 0;
    box-shadow: none;
    display: none;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .action-res i {
    font-size: 18px;
}
.custom-switch-lg {
    min-height: 40px;
    padding-left: 65px;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item .action-res {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    line-height: 53px;
    position: absolute;
    right: 5px;
    top: 7px;
    color: #334152;
    background-color: #fff;
    padding: 0;
    box-shadow: none;
    display: none;
}
.custom-control-input:checked~.custom-control-label::before {
    background-color: #50b051;
    border-color: #50b051;
}
.custom-checkbox-lg {
    padding-left: 35px;
}
.custom-checkbox-lg .custom-control-label::before {
    width: 25px;
    height: 25px;
    top: -4px;
    left: -35px;
}
.custom-checkbox-lg .custom-control-label::after {
    width: 25px;
    height: 25px;
    top: -4px;
    left: -35px;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #5a6268;
}
textarea.form-control {
    min-height: 100px;
}
.menu-modal-addon-varient-form-wrap {
    height: 100%;
}
.menu-modal-addon-varient-form-wrap .menu-modal-addon-varient-form-wrap-inner {
    min-height: calc(100% - 97px);
    height: 515px;
    overflow-y: auto;
    overflow-x: hidden;
}
.add-menu-modal .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0;
}
.add-menu-modal .modal-content .modal-body  {
    background-color: #fff;
    border-radius: 6px;
}
.add-menu-modal .add-menu-modal-header {
    flex-shrink: 0;
    display: flex;
    margin: 0 0 15px;
    max-width: calc(100% - 100px);
}
.add-menu-modal .add-menu-modal-header h1 {
    display: inline-flex;
    align-items: center;
    background: #fff;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 22px;
    max-width: 550px;
    margin: 0;
    padding-top: 10px;
    font-weight: 700;
}
.add-menu-modal .close {
    transition: all .2s cubic-bezier(.785,.135,.15,.86) 0s;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    right: 1px;
    background: #fff;
    opacity: 1;
    text-shadow: none;
    padding: 0;
    line-height: 40px;
    text-align: center;
    color: #909090;
}
.app-wrap .app-content-wrap .app-conent-tabs {
    background-color: #fff;
    border-radius: 6px;
}
.app-wrap .app-content-wrap .app-conent-tabs .nav-tabs {
    border-color: #eaeaea;
}
.app-wrap .app-content-wrap .app-conent-tabs .nav-tabs .nav-link {
    font-size: 18px;
    font-weight: 700;
    color: #ababab;
    border: none;
    padding: 20px 20px;
    padding-bottom: 10px;
    position: relative;
}
.app-wrap .app-content-wrap .app-conent-tabs .nav-tabs .nav-link::before {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 0;
    height: 4px;
    display: block;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #000;
}
.app-wrap .app-content-wrap .app-conent-tabs .nav-tabs .nav-item {
    margin: 0;
}
.app-wrap .app-content-wrap .app-conent-tabs .nav-tabs .nav-link.active {
    color: #000;
}
.app-wrap .app-content-wrap .app-conent-tabs .nav-tabs .nav-link.active::before {
    width: 100%;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content {
    padding: 20px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap {

}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 20px;
    padding-bottom: 5px;
    position: relative;
    padding-right: 130px;
    min-height: 162px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item + .order-item {
    margin-top: 10px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-id {
    color: #555;
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item h1 {
    font-size: 22px;
    font-weight: 700;
    color: #334152;
    margin: 0;
    margin-bottom: 5px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item p {
    color: #334152;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-meta-infos {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-meta-infos span {
    margin-right: 20px;
    color: #334152;
    font-weight: 600;
    font-size: 16px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-menu-items {
    display: flex;
    align-items: center;
    border-top: 1px dashed #eaeaea;
    padding-top: 10px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-menu-items span {
    margin-right: 20px;
    margin-bottom: 10px;
    color: #334152;
    font-weight: 500;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-meta-right {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 120px;
    text-align: right;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-meta-right .order-actions .btn{ 
    min-height: 40px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-meta-right .order-actions .btn-icon {
    height: 40px;
    width: 40px;
    padding: 0;
    text-align: center;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-meta-right .order-total {
    font-size: 22px;
    font-weight: 700;
    color: #334152;
    margin: 0;
    text-align: right;
    margin-top: 10px;
    line-height: 1;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-meta-right .order-total span {
    display: block;
    margin-bottom: 2px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-meta-right .order-actions .btn + .btn {
    margin-top: 5px;
} 
.oder-detail-modal .oder-detail-modal-header .order-id {
    color: #555;
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
.oder-detail-modal .oder-detail-modal-header  h1 {
    font-size: 22px;
    font-weight: 700;
    color: #334152;
    margin: 0;
    margin-bottom: 5px;
}
.oder-detail-modal .oder-detail-modal-header .order-meta-infos {
    display: block;
}
.oder-detail-modal .oder-detail-modal-header .order-meta-infos span {
    color: #334152;
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}
.oder-detail-modal .oder-detail-modal-items .menu-items-wrap .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #eaeaea;
    padding: 10px 0;
} 
.oder-detail-modal .oder-detail-modal-items .menu-items-wrap .menu-item .menu-item-block {
    display: flex;
    align-items: center;
}
.oder-detail-modal .oder-detail-modal-items .menu-items-wrap .menu-item .menu-item-block .menu-img {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 0px 2px #fff, 1px 1px 5px rgba(0,0,0,0.8);
}
.oder-detail-modal .oder-detail-modal-items .menu-items-wrap .menu-item .menu-item-block h4 {
    text-transform: capitalize;
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
    color: #212529;
}
.oder-detail-modal .oder-detail-modal-items .menu-items-wrap .menu-item .menu-item-price {
    color: #334152;
    font-weight: 600;
    font-size: 16px;
}
.oder-detail-modal .oder-detail-modal-items .order-total-wrap {
    margin-top: 10px;
}
.oder-detail-modal .oder-detail-modal-items .order-total-wrap .order-total-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
} 
.oder-detail-modal .oder-detail-modal-items .order-total-wrap .order-total-item span {
    text-transform: capitalize;
    font-size: 16px;
    margin: 0;
    color: #212529;
    font-weight: 600;
} 
.radio-button {
    position: relative;
} 
.radio-button label {
    position: relative;
    border: 2px solid #dde2ec;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 0;
    text-align: left;
    cursor: pointer;
}   
.radio-button input {
    position: absolute;
    opacity: 0;
}  
.radio-button input:checked ~ label  {
    border-color: #5a6268;
    background-color: #5a6268;
    color: #fff;
}  
.radio-button input:checked ~ label::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: 10px;
} 
.app-conent-search form {
    position: relative;
} 
.app-conent-search form .form-control {
    box-shadow: none;
    display: block;
    width: 100%;
    height: calc(calc(1.5em + .75rem) + 4px);
    padding: .375rem .75rem;
    padding-top: 0.4rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 15px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
    border: 2px solid #dde2ec;
    border-radius: 4px;
    padding-right: 40px;
    -webkit-transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.app-conent-search form .btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 38px;
    width: 38px;
    text-align: center;
    padding: 0;
    box-shadow: none;
}  
.radio-button {

}   
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .filter-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 20px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .filter-wrap .filter-item + .filter-item {
    margin-left: 15px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .filter-wrap .form-control {
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #dde2ec;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .statements-list-item-wrap .statements-list-item {
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    position: relative;
    padding-right: 40px;
} 
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .statements-list-item-wrap .statements-list-item h5 {
    margin: 0;
    font-size: 16px;
    color: #212529;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .statements-list-item-wrap .statements-list-item i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .statements-list-item-wrap .statements-list-item + .statements-list-item {
    margin-top: 5px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .filter-wrap .daterange {
    border: 2px solid #dde2ec;
    padding: 3px 10px;
    padding-top: 6px;
    border-radius: 4px;
    cursor: pointer;
}
.daterangepicker .ranges li {
    font-weight: 500;
}
.daterangepicker .ranges li.active {
    background-color: #6c757d;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #6c757d;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table thead {
    background-color: #6c757d;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table thead th {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 5px 8px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table thead th:not(:last-child) {
    border-right: 1px solid #dee2e6;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table tbody td {
    font-size: 13px;
    font-weight: 500;
    color: #333;
    padding: 8px 8px;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table tbody td .table-actions {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table tbody td .table-actions .btn-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 10px;
}
.table-align-center th, .table-align-center td {
    vertical-align: middle !important;
}
.app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}
.app-wrap .app-content-wrap .app-content-inner .web-teplates-wrap .teplate-item {
    position: relative;
}
.app-wrap .app-content-wrap .app-content-inner .web-teplates-wrap .teplate-item input {
    position: absolute;
    opacity: 0;
}
.app-wrap .app-content-wrap .app-content-inner .web-teplates-wrap .teplate-item label {
    display: block;
    margin: 0;
    cursor: pointer;
    border: 2px solid #dde2ec;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.app-wrap .app-content-wrap .app-content-inner .web-teplates-wrap .teplate-item input:checked ~ label {
    border-color: #343a40;
}
.app-wrap .app-content-wrap .app-content-inner .web-teplates-wrap .teplate-item label::before {
    position: absolute;
    content: "\F058";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
    top: 10px;
    right: 10px;
    font-size: 28px;
    z-index: 1;
    line-height: 1;
    display: none;
}
.app-wrap .app-content-wrap .app-content-inner .web-teplates-wrap .teplate-item input:checked ~ label::before, 
.app-wrap .app-content-wrap .app-content-inner .web-teplates-wrap .teplate-item input:checked ~ label::after {
    display: block;
}
.app-wrap .app-content-wrap .app-content-inner .web-teplates-wrap .teplate-item label .teplate-img {
    height: 300px;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.app-wrap .app-content-wrap .app-content-inner .web-teplates-wrap .teplate-item label::after {
    content: '';
    position: absolute;
    background-color: #343a40;
    width: 100px;
    height: 200px;
    right: -65px;
    top: -76px;
    transform: rotate(-45deg);
    display: none;
}
.app-wrap .app-content-wrap .app-content-inner .section-title-sm {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 700;
}
.app-wrap .app-content-wrap .app-content-inner .web-font-wrap .font-item {
    position: relative;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    margin-right: 5px;
    margin-bottom: 5px;
}
.app-wrap .app-content-wrap .app-content-inner .web-font-wrap .font-item input {
    position: absolute;
    opacity: 0;
}
.app-wrap .app-content-wrap .app-content-inner .web-font-wrap .font-item label {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    border: 2px solid #dde2ec;
    padding-right: 35px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
}
.app-wrap .app-content-wrap .app-content-inner .web-font-wrap .font-item input:checked ~ label {
    border-color: #343a40;
    color: #fff;
    background-color: #343a40;
}
.app-wrap .app-content-wrap .app-content-inner .web-font-wrap .font-item input:checked ~ label::before {
    position: absolute;
    content: "\F058";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
    top: 9px;
    right: 10px;
    font-size: 22px;
    z-index: 1;
    line-height: 1;
}
.app-wrap .app-content-wrap .app-content-inner .web-color-wrap {
    margin-top: 20px;
}
.app-wrap .app-content-wrap .app-content-inner .web-color-wrap .color-item {
    position: relative;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    margin-right: 15px;
}
.app-wrap .app-content-wrap .app-content-inner .web-color-wrap .color-item input {
    position: absolute;
    opacity: 0;
}
.app-wrap .app-content-wrap .app-content-inner .web-color-wrap .color-item label {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
}
.app-wrap .app-content-wrap .app-content-inner .web-color-wrap .color-item input:checked ~ label::before {
    position: absolute;
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
    top: 0;
    right: 0;
    font-size: 22px;
    z-index: 1;
    line-height: 40px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.note-editor.note-frame {
    border: 2px solid #dde2ec;
    border-radius: 4px;
} 
.note-popover .popover-content, .card-header.note-toolbar {
    background-color: #fff;
    border-bottom: 2px solid #dde2ec;
}
.note-toolbar .note-btn {
    padding: 3px 12px;
}
.note-toolbar .note-btn i {
    font-size: 12px;
}
.app-wrap .app-content-wrap .app-content-inner .locations-form-item {
    position: relative;
    padding-right: 50px;
    margin-bottom: 15px;
}
.app-wrap .app-content-wrap .app-content-inner .locations-form-item .location-remove-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
}
.app-wrap .app-content-wrap .app-content-inner .locations-form-item .location-remove-btn span {
    display: none;
}
.app-wrap .app-content-wrap .app-content-inner .locations-form-item .form-group {
    margin-bottom: 0;
}
.tooltip .tooltip-inner {
    font-size: 12px;
    font-weight: 500;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap.menu-status-wrap .card .card-header {
    padding-left: 20px;
}
.addon-add-wrap::before {
    display: none;
}
.addon-add-wrap .menu-modal-addon-varient-form-wrap {
    height: auto;
}
.addon-add-wrap .menu-modal-addon-varient-form-wrap .menu-modal-addon-varient-form-wrap-inner {
    min-height: auto;
    height: auto;
}
.app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap.menu-addon-wrap .card .card-header {
    padding-left: 20px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .addons-wrap .addon-item {
    padding: 15px 15px;
    border: 1px solid #dde2ec;
    border-radius: 6px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .addons-wrap .addon-item h3 {
    font-size: 16px;
    color: #3E4B5B;
    font-weight: 700;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .addons-wrap .addon-item .badge {
    border: 1px solid #3E4B5B;
    padding: 3px 10px;
    padding-top: 5px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .variations-wrap .variation-item {
    background-color: #f4f5f8;
    padding: 15px 15px;
    border-radius: 6px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .variations-wrap .variation-item h3 {
    margin: 0;
    position: relative;
    padding-right: 100px;
    font-size: 16px;
    color: #3E4B5B;
    font-weight: 700;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .variations-wrap .variation-item h3 .price {
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 1px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .variations-wrap .variation-item p {
    margin: 0;
    font-size: 13px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .variations-wrap .variation-item + .variation-item {
    margin-top: 10px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .addons-wrap .addon-item + .addon-item {
    margin-top: 10px;
} 
.menu-modal-addon-varient-form-wrap .linked-addons-wrap {
    height: 560px;
    overflow-y: auto;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .variations-wrap .variation-item .variation-item-inner {
    cursor: pointer;
}
.custom-switch-lg {
    display: flex;
    align-items: center;
}
.btn:focus {
    outline: none;
}
.info-text-wrap small , .info-text-wrap a {
    font-size: 12px;
}
.info-text-wrap .more-text {
    display: none;
}
.info-text-wrap .view-more-text-btn {
    margin-left: 5px;
}
.add-menu-modal .preview-btn {
    height: 40px;
    position: absolute;
    right: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 10px 15px;
    color: #212529;
}
.add-menu-modal .preview-btn span {
    margin-left: 5px;
    font-weight: 600;
} 
.menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-head {
    padding-bottom: 10px;
}
.menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-head h1 {
    margin: 0;
    font-size: 18px;
    color: #3E4B5B;
    font-weight: 700;
    margin-bottom: 5px;
}
.menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-head .menu-metas {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-head .menu-metas span {
    margin-right: 15px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
}
.menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-body {
    background-color: #f4f5f8;
    margin-left: -15px;
    width: calc(100% + 30px);
    padding: 15px;
    height: 478px;
    margin-bottom: -15px;
    overflow-y: auto;
}
.menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-body .menu-offers {
    margin-bottom: 10px;
}
.menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-body .menu-offers h4 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
}
.menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-body .menu-offers p {
    margin-bottom: 5px;
    font-size: 14px;
} 
.menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-body .menu-offers p b {
    font-weight: 700;
    font-size: 14px;
}
.menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-body .linked-addons-wrap .addons-wrap .addon-item {
    border: none;
    background-color: #fff;
}
.menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-body .linked-addons-wrap .variations-wrap .variation-item {
    background-color: #fff;
    border: 1px solid #eaeaea;
}
.menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-body .linked-addons-wrap {
    height: auto;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .addons-wrap .addon-item .addon-item-inner {
    cursor: pointer;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item {
    padding: 15px 0px;
    border-radius: 6px;
    background-color: #fff;
} 
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item h1 {
    font-size: 18px;
    color: #3E4B5B;
    font-weight: 700;
    margin: 0;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap {
    padding-left: 0px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .variation-item-inner {
    cursor: pointer;
    background-color: #f4f5f8;
    padding: 15px 15px;
    border-radius: 6px;
    padding-left: 50px;
    position: relative;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .variation-item-inner i {
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    left: 10px;
    top: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .variation-item-inner.collapsed i {
    transform: rotate(180deg);
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item h3 {
    margin: 0;
    position: relative;
    padding-right: 100px;
    font-size: 16px;
    color: #3E4B5B;
    font-weight: 700;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item  h3 .price {
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 1px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item p {
    margin: 0;
    font-size: 13px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .addon-wrap {
    padding-left: 35px;
    position: relative;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .addon-wrap::before {
    content: "";
    height: 81px;
    width: 1px;
    background-color: #eaeaea;
    left: 20px;
    position: absolute;
    top: -10px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .addon-wrap .addon-item .addon-item-inner {
    padding: 15px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    position: relative;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .addon-wrap .addon-item .addon-item-inner::before {
    content: "";
    height: 1px;
    width: 16px;
    background-color: #eaeaea;
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .addon-wrap .addon-item h3 {
    font-size: 16px;
    color: #3E4B5B;
    font-weight: 700;
    margin: 0;
    padding-right: 0;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .addon-wrap .addon-item .addon-variation-wrap {
    padding-left: 30px;
    position: relative;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .addon-wrap .addon-item .addon-variation-wrap::before {
    content: "";
    height: calc(100% - 69px);
    width: 1px;
    background-color: #eaeaea;
    left: 15px;
    position: absolute;
    top: -10px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .addon-wrap .addon-item .addon-variation-wrap .addon-variation-item {
    padding: 15px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    position: relative;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .addon-wrap .addon-item .addon-variation-wrap .addon-variation-item::before {
    content: "";
    height: 1px;
    width: 16px;
    background-color: #eaeaea;
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .addon-wrap .addon-item .addon-variation-wrap .addon-variation-item h3 {
    font-size: 16px;
    color: #3E4B5B;
    font-weight: 700;
    margin: 0;
    padding-right: 0;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item .addon-wrap .addon-item .addon-variation-wrap .addon-variation-item + .addon-variation-item {
    margin-top: 10px;
}
.menu-modal-addon-varient-form-wrap .linked-addons-wrap .menu-preview-wrap .menu-item .variation-wrap .variation-item + .variation-item {
    margin-top: 10px;
} 
.gutter-10 {
    margin-left: -5px;
    margin-right: -5px;
}
.gutter-10>[class*=col-], .gutter-10>.col {
    padding-left: 5px;
    padding-right: 5px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 768px) {
    .app-wrap {
        padding: 0;
    }
    .app-wrap .app-header .eatery-logo img, 
    .app-wrap .app-header .zing-logo img {
        height: 40px
    }
    .app-wrap .app-header {
        padding: 10px 20px;
        position: static
    }
    .app-wrap.dashboard {
        background-color: #f1f5f8;
    }
    .app-wrap.dashboard .app-content-wrap .app-content-inner {
        display: none;
    }
    .app-wrap .app-content-wrap .app-side-nav {
        position: static;
        width: 100%;
        min-height: auto;
        padding: 20px;
        padding-right: 20px;
        background-color: #f1f5f8;
    }
    .app-wrap .app-content-wrap .app-side-nav ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;
    }
    .app-wrap .app-content-wrap .app-side-nav ul li {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        /* border-bottom: 1px solid rgba(0,0,0,0.05);
        border-right: 1px solid rgba(0,0,0,0.05); */
    }
    /* .app-wrap .app-content-wrap .app-side-nav ul li:nth-child(even) {
        border-right: none;
    }
    .app-wrap .app-content-wrap .app-side-nav ul li:nth-child(7), 
    .app-wrap .app-content-wrap .app-side-nav ul li:nth-child(8) {
        border-bottom: none;
    } */
    .app-wrap .app-content-wrap .app-side-nav .nav-item {
        width: 100%;
        min-height: 150px;
        transition: all 0.3s ease;
        padding: 0 10px;
        background-color: #fff;
    }
    .app-wrap .app-content-wrap .app-side-nav ul li + li::before {
        display: none;
    }
    .app-wrap .app-content-wrap .app-side-nav .nav-item .icon {
        font-size: 50px;
    }
    .app-wrap .app-content-wrap .app-side-nav .nav-item span {
        font-size: 16px;
        margin-top: 5px;
    }
    .app-wrap .app-content-wrap .app-side-nav .nav-item:hover {
        box-shadow: 0px 5px 12px rgba(126,142,177,0.2), 0px 0px 0px 2px #24b314;
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        cursor: pointer;
        background-color: #fff
    }
    .app-wrap:not(.dashboard) .app-content-wrap .app-side-nav {
        display: none;
    }
    .app-wrap:not(.dashboard) .app-content-wrap .app-content-inner {
        margin-left: 0;
    }
    .app-wrap .app-content-wrap .app-content-inner .app-sec-title {
        padding-left: 50px;
    }
    .app-wrap .app-content-wrap .app-content-inner .app-sec-title .back-nav {
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 13px;
        color: #334152;
        background-color: #fff;
        font-size: 20px;
    }
    .app-wrap .app-content-wrap .app-entry-form-wrap .app-sec-title {
        padding-right: 80px;
    }
    .app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .btn {
        height: 40px;
    }
    .app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .btn-with-icon i {
        top: 10px;
    }
    .app-wrap .app-content-wrap .app-content-inner .app-sec-title.app-sec-title-with-action .actions {
        top: 15px;
    }
    .app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section {
        padding: 15px;
    }
    .app-wrap .app-content-wrap .app-content-inner .app-entry-form-wrap .app-entry-form-section .entry-form-title {
        padding-right: 35px;
    }
    .app-wrap .app-content-wrap .app-entry-form-wrap .app-sec-title {
        position: sticky;
        top: 0;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .actions.dropdown-menu.show {
        display: flex !important;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .actions {
        display: none;
        right: auto;
        padding: 10px;
        bottom: auto;
        /* width: calc(100% - 10px); */
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card {
        overflow: visible;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .action-res, 
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item .action-res {
        display: block;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header {
        padding: 15px 15px;
        padding-left: 40px;
        padding-right: 50px;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .actions .btn {
        width: 40px;    
        height: 40px;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .actions .btn + .btn {
        margin-left: 30px;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .dropdown-menu {
        margin-top: 0;
        background-color: #eaeaea;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .actions .btn {
        background-color: #fff;
        border-color: #ddd;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body {
        padding: 15px;
    }

    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item .actions {
        display: none;
        right: auto;
        padding: 10px;
        bottom: auto;
        width: calc(100% - 10px);
        justify-content: space-between;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item .actions .btn {
        background-color: #fff;
        border-color: #fff;
        width: 40px;
        height: 40px;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-body .menu-items-wrap .menu-item .actions.dropdown-menu.show {
        display: flex !important;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap.menu-status-wrap .card .card-header .actions {
        display: block;
        padding: 0;
        right: 10px;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap.menu-status-wrap .card .card-body .menu-items-wrap .menu-item .actions {
        display: block;
        padding: 0;
        right: 0px;
        width: auto;
    }
    .menu-modal-addon-varient-wrap::before {
        top: 0px;
        width: 100%;
        height: 1px;
        left: 0;
    }
    .menu-modal-addon-varient-wrap {
        padding-top: 20px;
    }
    .app-wrap .app-content-wrap .app-content-inner .link-widget {
        min-height: auto;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap .card .card-header .handle {
        height: 53px;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content {
        padding: 10px;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item {
        padding: 10px
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-meta-infos {
        display: block;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-meta-infos span {
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-menu-items {
        flex-wrap: wrap;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-meta-right {
        position: static;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .order-list-wrap .order-item .order-meta-right .order-actions .btn + .btn {
        margin-top: 0;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .nav-tabs .nav-link {
        padding: 10px 10px;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .filter-wrap {
        display: block;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .filter-wrap .filter-item + .filter-item {
        margin-left: 0;
        margin-top: 10px;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 10px;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
        border-top: none;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: capitalize;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table td:last-child {
        border-bottom: 0;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table {
        border: none;
        table-layout: fixed;
    }
    .app-wrap .app-content-wrap .app-conent-tabs .tab-content .statements-list-wrap .table tr {
        border: 1px solid #eaeaea;
        padding: .35em;
    }
    .app-wrap .app-content-wrap .app-entry-form-wrap .app-sec-title.actions-mobile-bottom {
        padding-right: 0;
        padding-bottom: 60px;
    }
    .app-wrap .app-content-wrap .app-content-inner .app-sec-title.app-sec-title-with-action.actions-mobile-bottom .actions {
        top: 60px;
        width: 100%;
    }
    .app-wrap .app-content-wrap .app-content-inner .web-teplates-wrap .teplate-item {
        margin-bottom: 15px;
    }
    .app-wrap .app-content-wrap .app-content-inner .locations-form-item .form-group {
        margin-bottom: 10px;
    }
    .app-wrap .app-content-wrap .app-content-inner .locations-form-item {
        padding-right: 0;
        padding: 10px;
        border: 1px solid #eaeaea;
        border-radius: 4px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .app-wrap .app-content-wrap .app-content-inner .locations-form-item .location-remove-btn {
        bottom: 0;
        top: auto;
        transform: translateY(15px);
        width: auto;
        padding: 5px 10px;
        margin: 0 auto;
        left: 0;
    }
    .app-wrap .app-content-wrap .app-content-inner .locations-form-item .location-remove-btn span {
        display: inline-block;
        margin-left: 10px;
    }
    .app-wrap .app-content-wrap .app-content-inner .menu-accordion-wrap.menu-addon-wrap .card .card-header .actions.dropdown-menu.show {
        justify-content: space-between;
    }
    .app-wrap .app-content-wrap .app-content-inner .web-font-wrap .font-item label {
        padding: 13px 20px;
        padding-right: 50px;
    }
    .app-wrap .app-content-wrap .app-content-inner .web-font-wrap .font-item {
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .app-wrap .app-content-wrap .app-content-inner .web-font-wrap .font-item input:checked ~ label::before {
        top: 11px;
    }
    .add-menu-modal .preview-btn {
        width: 40px;
        padding: 0;
    }
    .add-menu-modal .preview-btn span {
        display: none;
    }
    .menu-modal-addon-varient-form-wrap .preview-menu-wrap .menu-preview-body {
        height: calc(100vh - 200px);
    }
    .menu-modal-addon-varient-wrap .modal-sec-title.modal-sec-title-with-action .actions .preview-btn {
        height: 33px;
        width: 33px;
        padding: 6px 0px;
        display: inline-block
    }
    .menu-modal-addon-varient-wrap .modal-sec-title.modal-sec-title-with-action .actions .preview-btn i {
        position: static;
    }
    .menu-modal-addon-varient-wrap .modal-sec-title.modal-sec-title-with-action .actions .preview-btn span {
        display: none
    }
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}