* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: none;
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased!important;
    -webkit-transform: translate3d(1, 1, 1);
    transform: translate3d(1, 1, 1);
    text-rendering: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale
}
*:focus {
    outline: none
}
*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}
* {
    font-family: roboto, sans-serif
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    background-color: #f0f0f0
}
::-webkit-scrollbar {
    display: none
}
::selection {
    background-color: #ccc;
    color: #000
}
div, a, p, img, blockquote, form, fieldset, textarea, input, label, iframe, code, pre {
    display: block;
    position: relative
}
textarea, input {
    outline: none
}
input[type=submit] {
    appearance: none;
    -webkit-appearance: none
}
input {
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    display: inline-block
}
textarea {
    -webkit-appearance: none!important;
    border-radius: 0!important;
    -webkit-border-radius: 0!important
}
label a {
    display: inline-block
}
.no-click {
    pointer-events: none!important
}
a {
    color: #2980b9
}
p>a {
    display: inline;
    text-decoration: none
}
p>a:hover {
    text-decoration: underline
}
p>span {
    display: inline
}
p strong {
    font-size: 13px;
    font-weight: 500
}
span>a {
    display: inline
}
a>span {
    display: inline
}
a {
    text-decoration: none
}
a:hover {
    text-decoration: none
}
strong a, em a {
    display: inline
}
h1>a, h2>a, h3>a, h4>a, h5>a, h6>a {
    display: inline
}
table {
    bborder-collapse: separate;
    border-spacing: 0;
    width: 100%;
    clear: both;
    margin-bottom: 27px
}
th {
    vertical-align: middle;
    font-weight: 700
}
tr {
    line-height: 18px
}
td {
    text-align: center;
    padding: 9px 0;
    line-height: 18px;
    vertical-align: middle
}
.table tr.even td {
    background: #efefef
}
th {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    color: #1f1f1f;
    line-height: 45px;
    background-color: #f6f6f6
}
td {
    color: #666;
    background-color: #fdfdfd
}
table {
    background-color: #f6f6f6;
    font-size: 12px
}
ul, ol {
    color: #666;
    font-size: 13px;
    margin-left: 20px
}
ul {
    margin-bottom: 30px
}
ul ul {
    margin-bottom: 5px
}
ol ol {
    margin-bottom: 5px
}
ol {
    margin-bottom: 30px
}
li {
    line-height: 24px;
    margin-bottom: 5px
}
ol>li:last-child, ul>li:last-child {
    margin-bottom: 0
}
textarea {
    font-family: roboto, sans-serif
}
sub, sup {
    font-size: 50%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -15px
}
sub {
    bottom: 0
}
i {
    min-width: 12px
}
.disabled {
    display: none!important
}
.stop-scroll {
    overflow: hidden!important
}
.no-click {
    pointer-events: none
}
.no-border {
    border: none!important
}
.responsive-image {
    display: block;
    width: 100%
}
.round-image {
    border-radius: 100%
}
p {
    line-height: 26px;
    margin-bottom: 30px;
    font-size: 13px;
    color: #6c6c6c
}
p strong {
    color: #1f1f1f
}
h1, h2, h3, h4, h5, h6 {
    font-family: source sans pro, sans-serif;
    margin-bottom: 5px;
    letter-spacing: -.3px;
    font-weight: 500
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #fff;
    transition: all 350ms ease
}
.preloader-hide {
    opacity: 0!important;
    pointer-events: none!important;
    transition: all 350ms ease
}
.preloader-body img {
    margin: 0 auto 0;
    animation: mymove 1.2s infinite
}
@keyframes mymove {
    0% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(1.05, 1.05)
    }
    100% {
        transform: scale(1, 1)
    }
}
.preloader-body p {
    font-size: 16px
}
.preloader-body {
    text-align: center;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.item-list p {
    line-height: 0!important
}
.item-list h1 {
    padding-bottom: 40px!important
}
h1 {
    font-size: 24px
}
.wrap-a {
    overflow: visible!important;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
    border: solid 4px #cacaca;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10
}
.wrap-b {
    border: solid 7px #000;
    background-color: #000
}
.transitions-enabled {
    transition: all 350ms ease
}
.sidebar-right-disabled {
    display: none!important
}
.s-screen .wrap-c {
    width: 322px;
    height: 568px;
    margin-left: -1px
}
.m-screen .wrap-c {
    width: 380px;
    height: 668px;
    margin-left: -1px
}
.l-screen .wrap-c {
    width: 416px;
    height: 736px;
    margin-left: -1px
}
.s-screen .wrap-a {
    margin-left: -175px;
    margin-top: -294px
}
.m-screen .wrap-a {
    margin-left: -200px;
    margin-top: -344px
}
.l-screen .wrap-a {
    margin-left: -218px;
    margin-top: -378px
}
.round-screen .wrap-a {
    border-radius: 30px
}
.round-screen .wrap-b {
    border-radius: 26px
}
.round-screen .wrap-c {
    border-radius: 18px
}
.square-screen .wrap-a {
    border-radius: 15px;
    border-width: 4px
}
.square-screen .wrap-b {
    border-radius: 11px;
    border-width: 8px
}
.square-screen .wrap-c {
    border-radius: 0
}
.sidebar-right {
    position: fixed;
    right: 20px;
    width: 240px;
    z-index: 20
}
.button {
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    background-color: #1f1f1f;
    width: 240px;
    color: #fff;
    margin-bottom: 13px;
    padding-left: 20px;
    border-bottom: solid 1px rgba(255, 255, 255, .1)
}
.active-button {
    background-color: #477abe
}
.button i {
    font-style: normal;
    font-size: 5px;
    width: 45px;
    height: 45px;
    position: absolute;
    line-height: 45px;
    right: 0;
    text-align: center;
    transition: all 350ms ease
}
.device-styles i {
    font-size: 11px!important
}
.chevron {
    background-image: url(../img/chevron_down.png);
    background-size: 11px 11px;
    background-repeat: no-repeat;
    background-position: center center
}
.device-styles {
    height: 0;
    overflow: hidden;
    transition: all 350ms ease
}
.device-styles-active {
    height: 185px!important;
    transition: all 350ms ease
}
.rotate-180 {
    transform: rotate(180deg);
    transition: all 350ms ease
}
.device-size {
    margin-bottom: 10px
}
.button-list {
    border-radius: 5px;
    overflow: hidden
}
.button-list a {
    margin-bottom: 0;
    border-radius: 0;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    background-color: #2f3434
}
.button-list a i {
    line-height: 40px
}
.button.active-button i {
    color: #a0d468!important;
    font-size: 6px
}
.btn {
    text-transform: capitalize
}
.purchase-button-app {
    margin-top: 15px!important
}
.purchase-button, .purchase-button-app {
    margin-top: 20px;
    background-color: #82b440;
    text-transform: capitalize
}
.products-button {
    background-color: #4a89dc
}
.purchase-button i, .purchase-button-app i {
    background-image: url(../img/envato.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center
}
.size-button, .style-button {
    background-color: #393e3e
}
.size-button i, .products-button i, .style-button i, .products-button i {
    width: 45px;
    font-size: 8px!important
}
.hider {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    pointer-events: none;
    transition: all 350ms ease
}
.hider-active {
    opacity: 1!important;
    pointer-events: all!important;
    transition: all 350ms ease
}
.preparing-text {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 13px;
    color: #7c7c7c!important;
    z-index: 11;
    transition: all 1000ms ease
}
.remove-preparing {
    opacity: 0;
    transition: all 1000ms ease
}
.product-slider {
    position: fixed;
    z-index: 100!important;
    padding-top: 25px;
    background-color: #191c1c;
    height: 530px;
    transform: translateY(-550px);
    transition: all 350ms ease
}
.owl-nav button {
    display: block!important;
    background: 0 0!important;
    font-size: 42px
}
.product-slider-active {
    transition: all 350ms ease;
    transform: translateY(0px)
}
.product-slider a {
    width: 256.92px;
    overflow: hidden;
    margin: 0 auto!important;
    display: block!important
}
.product-slider a img {
    border: solid 1px rgba(255, 255, 255, .1);
    max-height: 500px;
    max-width: 100%;
    margin: 0 auto;
    display: block
}
.product-slider .owl-title {
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin-top: 20px
}
.product-slider .overlay:hover {
    opacity: 1;
    transition: all 250ms ease
}
.overlay {
    opacity: 0;
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, .9);
    left: 0;
    right: 0;
    width: 270px;
    left: 50%;
    margin-left: -135px;
    bottom: 48px;
    top: 0;
    transition: all 250ms ease
}
.overlay h1 {
    text-align: center;
    text-transform: capitalize;
    color: #fff!important;
    font-weight: 600;
    font-size: 26px;
    padding-top: 29px
}
.overlay-type {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 400;
    opacity: .5
}
.overlay-sales {
    display: none!important;
    position: absolute;
    bottom: 100px;
    font-size: 16px;
    text-align: center;
    display: block;
    width: 100%;
    color: #fff;
    z-index: 12
}
.overlay-rating {
    width: 138px!important;
    left: 50%;
    margin-left: -76px;
    position: absolute;
    bottom: 70px;
    z-index: 12;
    padding-left: 20px
}
.overlay-rating .far.fa-star {
    display: none
}
.overlay-rating i {
    font-style: normal;
    color: #ffce54;
    font-size: 16px;
    margin-right: 5px
}
.overlay strong {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: block;
    line-height: 50px;
    background-color: #000;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff
}
.style-list {
    overflow: visible!important
}
.style-list .style-list-box-image {
    margin: 20px 0 0 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
    width: 200px
}
.style-list .style-list-box-qr {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .08);
    background-color: #fff;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 180px
}
.style-list .style-list-box-text em {
    font-style: normal
}
.style-list .style-list-box-text {
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    right: 20px;
    top: 220px;
    width: 180px;
    font-style: normal
}
.style-list-box {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
    border-radius: 5px;
    width: 440px;
    height: 385px;
    background-color: #fff;
    right: 260px;
    top: -173px;
    position: absolute
}
.active-style {
    color: #a0d468!important;
    font-size: 11px!important
}
a[data-list-preview-number] i {
    font-size: 11px!important
}
#preview-iframe {
    background-color: #fff
}
.style-list-box {
    display: none
}
.preview-item-visible {
    display: block!important
}
.product-styles {
    display: none;
    margin-bottom: 20px
}
.purchase-button {
    transform: translateZ(0) perspective(1px);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    animation: crescendo 500ms alternate infinite ease-in
}
@keyframes crescendo {
    0% {
        transform: scale(1.01) translateZ(0) perspective(1px)
    }
    100% {
        transform: scale(.99) translateZ(0) perspective(1px)
    }
}
.enabled-view {
    display: block!important
}
@media(min-width:768px) {
    .desktop-view {
        display: block
    }
    .mobile-view {
        display: none
    }
}
@media(max-width:768px) {
    .mobile-view {
        display: block
    }
    .desktop-view {
        display: none
    }
    .center-view {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -140px;
        margin-left: -150px;
        height: 200px;
        width: 280px
    }
    .center-view img {
        width: 180px;
        margin: 0 auto
    }
    .center-view h1 {
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        padding-top: 50px
    }
    .center-view p {
        width: 250px;
        font-size: 14px;
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 40px
    }
    .center-view a {
        display: block;
        width: 220px;
        height: 43px;
        line-height: 43px;
        background-color: #4a89dc;
        color: #fff;
        padding-left: 15px;
        padding-right: 15px;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
        border-radius: 5px;
        margin: 0 auto;
        text-align: center;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1)
    }
}
.sidebar-left {
    position: fixed;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
    width: 325px;
    padding-bottom: 30px;
    padding: 8px;
    left: 20px;
    top: 20px;
    transform: translateX(-150%);
    transition: all 550ms ease
}
.active-sidebar-left {
    transform: translateX(0%)!important;
    transition: all 550ms ease
}
.sidebar-left img {
    border-radius: 8px;
    margin-bottom: 20px
}
.sidebar-left h1, .sidebar-left em {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 5px;
    font-style: normal
}
.sidebar-left em {
    font-weight: 500!important
}
.sidebar-left span {
    display: block;
    text-align: center;
    font-size: 11px;
    margin-top: -13px;
    padding-bottom: 10px;
    color: #4a89dc;
    font-weight: 600
}
.sidebar-left p {
    text-align: center;
    padding-left: 20px;
    padding-right: 15px;
    margin-bottom: 20px
}
.sidebar-left img {
    display: block;
    width: 100%
}
.sidebar-left-button {
    font-family: roboto, sans-serif;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .05);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px
}
.sidebar-left-live {
    font-size: 12px;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, .3);
    margin-bottom: 20px
}
.sidebar-left-remove {
    position: absolute;
    left: -10px;
    font-size: 22px;
    top: -8px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    background-color: #000;
    font-size: 11px
}
.item-type img {
    float: right;
    width: 20px;
    right: 0;
    margin: 0 auto
}
.item-type p {
    transform: translateY(-3px);
    font-size: 12px;
    margin-top: 0;
    text-align: right;
    padding-right: 30px
}
.item-type {
    position: fixed;
    bottom: -20px;
    right: 15px;
    width: 140px;
    height: 50px
}
.iframe-qr {
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .05);
    background-color: #fff;
    padding: 25px 10px 20px
}
.iframe-qr img {
    margin: 0 auto;
    background-image: url(../img/page-loader.gif);
    background-repeat: no-repeat;
    background-size: 64px 64px;
    background-position: center center
}
.iframe-qr h4 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px
}
.iframe-qr h5 {
    text-align: center;
    color: #4a89dc;
    font-weight: 600;
    font-size: 12px;
    margin-top: -8px;
    padding-bottom: 0
}
.iframe-qr strong {
    display: block;
    font-size: 12px;
    line-height: 26px;
    padding: 0 5px;
    font-weight: 400;
    text-align: center
}
.error-log {
    position: fixed;
    left: -50000px;
    top: -50000px;
    opacity: 0
}
.error-message {
    z-index: 999;
    background-color: #ed5565;
    position: fixed;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    padding: 10px 15px;
    left: 50%;
    margin-left: -175px;
    top: 50%;
    margin-top: -95px
}
.error-message p {
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding-top: 15px
}
.error-message a:first-child {
    background-color: #fff;
    position: absolute;
    height: 40px;
    line-height: 40px;
    left: 20px;
    right: 20px;
    margin-top: -20px!important;
    border-radius: 10px;
    text-align: center;
    color: #1f1f1f;
    font-weight: 700;
    text-transform: uppercase
}
.owl-carousel .owl-item, .owl-carousel .owl-wrapper, .owl-dots {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}
.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}
.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}
.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}
.owl-carousel .owl-item img {
    display: block
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: none
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}
.owl-carousel.owl-hidden {
    opacity: 0
}
.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}
.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}
.owl-carousel.owl-rtl {
    direction: rtl
}
.owl-carousel.owl-rtl .owl-item {
    float: right
}
.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both
}
.owl-carousel .owl-animated-in {
    z-index: 0
}
.owl-carousel .owl-animated-out {
    z-index: 1
}
.owl-carousel .fadeOut {
    animation-name: fadeOut
}
@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.owl-height {
    transition: all 250ms ease!important
}
.owl-auto-height .owl-height {
    transition: all 250ms ease-in-out!important
}
.owl-carousel .owl-item .owl-lazy {
    z-index: opacity:0;
    transition: opacity .4s ease
}
.owl-carousel .owl-item img, .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}
.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease
}
.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}
.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}
.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}
.owl-dot, .owl-dot.active {
    transition: all 250ms ease
}
.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}
.owl-no-dots .owl-dots {
    display: none!important
}
.owl-no-dots .cover-content-bottom {
    bottom: 0;
    padding-bottom: 0
}
.owl-dots {
    text-align: center;
    bottom: 5px;
    width: 100%;
    backface-visibility: hidden
}
.owl-dot {
    border-radius: 50px;
    height: 8px;
    width: 8px;
    display: inline-block;
    background: rgba(139, 139, 139, .9);
    margin-left: 5px;
    margin-right: 5px
}
.owl-dot.active {
    background: #cacaca
}
.owl-nav {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 0;
    right: 0
}
.owl-next, .owl-prev {
    width: 40px;
    height: 50px;
    position: absolute;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    margin-top: -25px
}
.owl-prev {
    left: 0
}
.owl-next {
    right: 0
}
.owl-has-dots .owl-dots {
    margin-top: 20px;
    margin-bottom: 0
}
.owl-has-dots-over .owl-dots {
    margin-top: -40px;
    margin-bottom: 10px
}
.owl-height {
    min-height: 500px;
    height: auto!important;
    height: 500px
}
.cover-slider {
    margin-bottom: 0
}
.cover-slider .owl-dots {
    z-index: 99;
    margin-top: -18px;
    margin-bottom: -5px;
    transform: translateY(-10px)
}
.next-slide, .prev-slide {
    color: #fff;
    width: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    margin-top: -10px;
    top: 50%;
    transform: translateY(-70%);
    z-index: 99
}
.cover-slider [data-height=cover] {
    margin-bottom: 0!important
}
.prev-slide {
    left: 15px
}
.next-slide {
    right: 15px
}
.owl-dots-over .owl-dots {
    transform: translateY(-60px);
    margin-bottom: -10px
}