// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import '~bootstrap/dist/css/bootstrap.css';
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~toastr/build/toastr.css";
@import "~line-awesome/dist/line-awesome/css/line-awesome.css";
@import "~fullcalendar/main.css";
@import "~dropzone/dist/dropzone.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "~summernote/dist/summernote.css";
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css";