@import 'variables';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
@import "../css/normalize.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~dropzone/dist/dropzone.css";
@import '~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css';
@import '~summernote/dist/summernote-bs4.css';
@import '~daterangepicker/daterangepicker.css';
@import '~select2/dist/css/select2.css';
@import '~daterangepicker/daterangepicker.css';
@import '~toastr/build/toastr.css';

